<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Chispitas nutricionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/chispitas.jpg" alt="" srcset="">
  <ion-card>
    <ion-card-content>
      <ion-text color="dark">
        Las chispitas nutricionales son muy importantes previenen la anemia en el bebé o niño, se consume a partir de
        los 6 meses de edad hasta los 2 años de edad, acude al centro de salud más cercano que tengas y realiza tu
        control de niño sano para que te entreguen las chispitas nutricionales, las personas encargadas en atenderte te
        entregaran 1 vez al año, 60 sobres equivalentes a 2 meses, donde él bebe debe de consumir 1 sobre al día con una
        fruta de preferencia y adecuada para la edad.
      </ion-text>
      <br>
      <ion-text color="primary">
        <h4>Ingredientes</h4>
      </ion-text>
      <ul>
        <li>Sobre de chispitas nutricionales </li>
        <li>Fruta de preferencia (manzana roja, guineo, pera, papaya) </li>
      </ul>
      <ion-text color="primary">
        <h4>PREPARACIÓN </h4>
      </ion-text>
      <ol>
        <li>Abra un sobre de las chispitas nutricionales cada día durante 60 días seguidos. </li>
        <li>Separe 2 cucharas de la papilla y vacíe todo el contenido del sobre en la pequeña porción de papilla que
          separó previamente. </li>
        <li>Mezcle bien todo el contenido y dar al bebe en cucharas</li>
      </ol>
      <br>
      <ion-text color="medium">
        NOTA* no debe de sobrar nada, una vez abierto no guardar el sobre
      </ion-text>
      <br>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/jlqEZT7HPmY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>