<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Nutribebe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/nutribebe.jpg" alt="" srcset="">
    <ion-card-header>
      <ion-card-subtitle>6 meses a 23 meses</ion-card-subtitle>
      <ion-card-title>Nutribebe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        El Nutribebé es un alimento muy importante ya que ayuda a prevenir la desnutrición y que él bebé debe de
        consumir a partir de los 6 meses, acude a tu centro de salud más cercano y realiza el control de niño sano para
        que te puedan entregar cada mes, son 2 bolsitas que te entregaran y son equivalentes a 1 mes. Él bebe debe de
        comer este suplemento 2 veces al día, preferentemente a media mañana y media tarde, no olvidemos cumplir los 5
        tiempos de comida que son DESAYUNO, MEDIA MAÑANA, ALMUERZO, MEDIA TARDE, CENA.
      </ion-text>
      <ion-text color="primary">
        <h4>Preparación base del Nutribebé</h4>
      </ion-text>
      <ul>
        <li>Nutribebé 1 cuchara medidoras 25g de Nutribebé </li>
        <li>Agua 2 cucharas medidoras 100 ml </li>
        <li>Alimento opcional de preferencia, sea aplastado, triturado o hervido</li>
        <li>Un recipiente o platito hondo </li>
        <li>Una cucharilla (para mezclar el alimento). </li>
        <li>Una cuchara medidora que le entregarán con la bolsa del Nutribebé. </li>
        <li>Cucharilla para alimentar al menor de 2 años. </li>
      </ul>
      <ion-text color="primary">
        <h4>Preparación</h4>
      </ion-text>
      <ion-text color="dark">
        Llenar la cuchara medidora con el alimento complementario Nutribebé, colocar en un platito, si quieres puedes
        agregar el alimento opcional de tu preferencia, añadir una medida de agua hervida tibia o fría y mezclar, añadir
        una segunda medida de líquido poco a poco hasta obtener una papilla o puré. Darle la papilla a la niña o el niño
        hasta que termine, no se debe guardar el producto preparado.
        <br>
        <ion-text color="medium">
          ¿Con que líquidos puedo mezclar?
        </ion-text>
        <br>
        Puede ser con leche, leche materna, agua o jugo de frutas que sean hervidas previamente (no jugo de frutas
        azucarados)
        <ion-slides [options]="slideOpts" pager="true">
          <ion-slide>
            <img src="assets/img/nutribebe/1.png" alt="" srcset="">
          </ion-slide>
          <ion-slide>
            <img src="assets/img/nutribebe/2.png" alt="" srcset="">
          </ion-slide>
          <ion-slide>
            <img src="assets/img/nutribebe/3.png" alt="" srcset="">
          </ion-slide>
        </ion-slides>
      </ion-text>
      <table style="width:100%">
        <tr>
          <th>Edad</th>
          <th>Alimentos</th>
          <th>Cantidades</th>
        </tr>
        <tr>
          <td>De 6 a 8 meses</td>
          <td>Zapallo, guineo, manzana, pera, papaya.</td>
          <td>5 comidas al día, entre 6 a 8 cucharas en cada comida</td>
        </tr>
        <tr>
          <td>De 9 a 11 meses</td>
          <td>Durazno, zanahoria, camote y melón.</td>
          <td>5 comidas al día, entre 9 a 11 cucharas en cada comida</td>
        </tr>
        <tr>
          <td>De 12 meses a menor de 2 años</td>
          <td>Mandarina, naranja, sandia, coco, yogurt, avena, leche, quinua</td>
          <td>5 comidas al día, entre 12 a 15 cucharas en cada comida</td>
        </tr>
      </table>
      <ion-text color="medium">
        Cabe recalcar que los alimentos deben estar aplastados, triturados o hervidos antes de dar al bebé
        NOTA* al comenzar con la alimentación complementaria debes de comenzar con 3 cucharas en cada comida e ir
        progresando hasta llegar a las 6 cucharas y de ahí por cada mes que pase se aumenta una cuchara más al bebe

      </ion-text>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/gbTC0bM1oCQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>