<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Jarabe sulfato ferroso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/sulfato.webp" alt="" srcset="">
  <ion-card>
    <ion-card-content>
      El jarabe de hierro o también conocido con jarabe de sulfato ferroso también previene la anemia y se consume desde
      los 2 años hasta los 5 años de edad, acude al centro de salud para para asistir al control del niño sano y te
      entreguen el sulfato ferroso, el niño o niña debe de consumir
    </ion-card-content>
  </ion-card>
</ion-content>