<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Vitamina A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/img/vitamina.jpg"></ion-img>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/nutribebe/azul.png" />
    </ion-avatar>
    <ion-label>
      Para niños de 6 a 11 meses.
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/nutribebe/rojo.png" />
    </ion-avatar>
    <ion-label>
      Para niños de 12 a 59 meses.
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-content>
      <ion-text color="dark">
        Es esencial en los niños, previene posibles enfermedades como la ceguera, hacen que los niños sean sanos, ayuda
        a la
        estimulación del sistema inmune, disminuye los casos de diarrea y el sarampión y reduce la anemia. A partir de
        los 6
        meses de edad, los niños deben recibir 1 dosis de vitamina A cada 6 meses hasta que su quinto cumpleaños. Acude
        al
        centro de salud más cercano que tengas y realiza tu control de niño sano para que te entreguen la vitamina A
      </ion-text>
      <br>
      <ion-text color="medium">
        NOTA* las manos siempre lavadas y limpian antes de manipular la vitamina que va a consumir el niño o niña
      </ion-text>
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/o_tCcDaYocA" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>
 
</ion-content>